:root {
  --theme-red: hsl(0, 78%, 62%);
  --theme-cyan: hsl(180, 62%, 55%);
  --theme-orange: hsl(34, 97%, 64%);
  --theme-blue: hsl(212, 86%, 64%);
  --theme-very-dark-blue: hsl(234, 12%, 34%);
  --theme-greyish-blue: hsl(229, 6%, 66%);
  --theme-very-light-grey: hsl(0, 0%, 98%);
}

*, *::after, *::before {
  margin: 0px;
  font-family: 'Poppins';
  color: var(--theme-greyish-blue);
  text-decoration: none;
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  font-weight: 200;
  color: var(--theme-very-dark-blue);
  margin: 0px 0px 20px;
}

h1 strong {
  color: var(--theme-very-dark-blue);
  font-weight: 600;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--theme-very-dark-blue);
  margin-bottom: 4px;
}

p {
  font-size: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 30px 0px 30px;
  background-color: var(--theme-very-light-grey);
}

header {
  text-align: center;
  margin: 50px 0px;
}

main {
  margin: 0px 0px 75px 0px;
}

article {
  height: 225px;
  padding: 24px 30px;
  border-top: solid 4px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 16px 32px -16px hsl(212, 39%, 72%);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

article p {
  font-size: 13px;
}

article svg {
  align-self: flex-end;
  margin-top: auto;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 36px;
    line-height: 1.45em;
  }

  body {
    width: 900px;
  }

  header {
    width: 580px;
    margin: 40px 0px 30px;
  }

  main {
    display: flex;
    align-items: center;
    margin: 0px;
  }

  article {
    width: 350px;
    height: 250px;
    margin: 30px 15px;
  }
}